* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* HERO */

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
        url("https://images.unsplash.com/photo-1521791136064-7986c2920216?w=1200");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 20px;
}

.btn {
    background: #FF5A36;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #FF5A36;
}

/* NAV */

nav {
    background: #020B4F;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* SECTION */

section {
    padding: 60px 10%;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #020B4F;
}

/* ABOUT */

.about>p {
    max-width: 900px;
    margin: 20px auto;
    line-height: 1.8;
    font-size: 20px;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 50px;
}

.about-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.about-card:hover {
    transform: translateY(-8px);
}

.about-card h3 {
    color: #020B4F;
    margin-bottom: 15px;
    font-size: 28px;
}

.about-card p {
    line-height: 1.7;
    color: #555;
}

/* IMAGE */

.image-section {
    text-align: center;
}

.image-section img {
    width: 100%;
    max-width: 900px;
    border-radius: 15px;
}

/* PROGRAMS */


.programs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.program-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    transition: .3s;
}

.program-card:hover {
    transform: translateY(-5px);
}

/* STATS */

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.stat-card {
    background: #020B4F;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.stat-card h3 {
    font-size: 40px;
}

#donate {
    padding: 80px 20px;
    text-align: center;
}

#donate h2 {
    color: #020B4F;
    font-size: 42px;
    margin-bottom: 20px;
}

#donate p {
    max-width: 700px;
    margin: 0 auto 30px auto;
    font-size: 20px;
    line-height: 1.6;
    color: #444;
}

.donate-btn {
    background: #FF5A36;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.donate-btn:hover {
    background: #E84A26;
    transform: translateY(-3px);
}

/* VOLUNTEER */

.form-box {
    max-width: 700px;
    margin: auto;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 120px;
}

.submit-btn {
    background: #FF5A36;
    color: white;
    border: none;
    width: 100%;
    padding: 16px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background: #E84A26;
    transform: translateY(-2px);
}

/* FOOTER */

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 25px;
}

/* RESPONSIVE */

@media(max-width:768px) {

    .hero-content h1 {
        font-size: 38px;
    }

    .hero-content p {
        font-size: 18px;
    }

}